<div class=" css-4iek54-itemView-itemLayout-eventItemWrapper"><span class="css-1hr38l-timeLayoutWrapper"><span
            class="css-1a7tq67-eventTime">8’</span></span><img alt="" width="20" height="20"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAATlBMVEVHcEzkXVoAl17kXVkAl1/kXVoAl1zkWlrkXlrlXVkAl18An18AmV8Al17kXFrlXVvkXFoAl14Al14Al17kXVoAmF3kXVoAmF7lXlsAmF/fU5yDAAAAGHRSTlMA76DgQPBgMH+AIBBQwGBwwO/wr7+Q37C91jpQAAAAk0lEQVQ4y+XU2Q4CIQyF4cKAuI+OW/v+L+qF0YSlyX9r5lx/obQ0iPx/0pG5g9mGHWhQJoMyGZQfOJD729VG6eTJnLTS3NATH+0dX8vQRdh1hOOJcI4RvkzlyvPubU/tgirZxxLUg9I5pU6p022d4rku5wZOjtNAYW5LZ1j6J3dV5jJoO7PxfKVQKVSyz6hMF1lR3lY7HudLRmFoAAAAAElFTkSuQmCC"
        class="Image ">
    <div class="event-swap_wrapper css-wh2nea-playersLayoutWrapper"><a class="css-1ckibig-eventPlayerName"
            href="/players/862467/ruben-vinagre">Ruben Vinagre</a><a class="css-1ckibig-eventPlayerName"
            href="/players/304014/fernando-marcal">Fernando Marcal</a></div>
</div>

<div class=" css-4iek54-itemView-itemLayout-eventItemWrapper"><span class="css-1hr38l-timeLayoutWrapper"><span
            class="css-1a7tq67-eventTime">78’</span></span><img alt="" width="20" height="20"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAVFBMVEVHcEwvLy8zMzMvLy8zMzMyMjIxMTEvLy8vLy8yMjIyMjIzMzMyMjIyMjIyMjIxMTEyMjIyMjIyMjIyMjIyMjIzMzMxMTEzMzMwMDAxMTEyMjIzMzPLtFMhAAAAG3RSTlMAQKAg8MCAEDDv0FC/4GCQcLDPf9+vn18/j2+0hiKKAAABl0lEQVQ4y62UybajMAxEC7CxDYQpJHnp+///2QszmOm8RbdWHLhIcqks6R+iKH5nfr4NADTfn3vKPQNJhKe75vYYQPhzlW4EwAxlXW3oeErqA4BtJalMkk7+gnvUc/LhkZTfkS4ANilTtBbocmBKq49AflSzzKQcGLd3JWCvpciBPi38uNHMPSC4JGEmScrO48iAcn4OYCX/DhedShbC9k8tRUnCZcooUQdGqmfd/Ik00C25c2mYwfWIapt6OXiUJHa7DGNtsgVeTlIPLGAtrcNNBIymyGawiOIsYJVyMEaw2MC5xyqKO6ymyFZQQCu5KuFkErBOeiwluSE5Sb6CcXCJPJLaUumRl5aHRZ7uYh4Fm6xhETyLTe5jvjfGqd7GZaA5gl0Ea6kBk9isPl62wVpb+uiBpXdnEnMejTuBWb/1wOsabHY+UQW85ZvTEnlvQ12L8wowPf1xe+xvk99mRvOdX34mwBxXRbIc8JLcpwF4nBzvktX0/jxfITXTPnpzXHumv9Gs3KGmdPdL13c2Urbz/2fZ38dfc981un5QaUgAAAAASUVORK5CYII="
        class="Image ">
    <div class="css-wh2nea-playersLayoutWrapper"><span><a class="css-1ckibig-eventPlayerName"
                href="/players/292313/raul-jiménez">Raul Jiménez</a>&nbsp;<span class="css-2p1b74-goalStr">( <span
                    class="event-score__highlighted">1</span> - <span>2</span> )</span></span><a
            class="css-wwzftl-assist" href="/players/524435/daniel-podence">assist by Daniel Podence</a></div>
</div>